
<% if @article.errors.any? %>
  <div class="row article_form">
    <div class="col-lg-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@article.errors.count, "error") %>
            have hindered your creation:
          </h2>
          <div class="panel-body">
            <ul>
             <% @article.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='row article_form'>
  <div class='col-lg'>
    <%= form_for @article do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :description %></br>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-dark" %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
     [ <%= link_to "Cancel Request and Return to Creations!", articles_path %> ]
  </div>  
  </div>
</div>