<h1 align="center">
  Alter_Spaces
</h1>
<br>
<br>
<br>
<div class="center">
  <div class="inline">
  <%= will_paginate @users %>
  </div>
</div>
  <% @users.each do |user| %>
    <ul class="listing">
        <div class="center">
             <li><%= link_to gravatar_for(user), user_path(user) %></li>
             <li class="article-title">
                <%= link_to user.username, user_path(user) %>
             </li>
             <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
             <% if logged_in? and current_user.admin? %>
               <li><%= link_to "Delete this User", user_path(user), method: :delete,
                   data: { confirm: "Are you sure you want to delete the user and all their articles?!?!?!" } %></li>
             <% end %>
        </div>
  </ul> 
  <% end %>
<div class="center">
  <div class="inline">
  <%= will_paginate @users %>
  </div>
</div>
  