<h1 align="center">
  Alter_Spaces
</h1>
<br>
<br>
<br>
<div class="center">
  <div class="inline">
  <%= will_paginate @users %>
  </div>
</div>
  <% @users.each do |user| %>
    <ul class="listing">
        <div class="center">
             <li><%= link_to gravatar_for(user), user_path(user) %></li>
             <li class="article-title">
                <%= link_to user.username, user_path(user) %>
             </li>
             <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        </div>
  </ul> 
  <% end %>
<div class="center">
  <div class="inline">
  <%= will_paginate @users %>
  </div>
</div>
  